{
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "endOfLine": "lf",
    "quoteProps": "as-needed",
    "plugins": ["prettier-plugin-organize-imports"]
}
